.cardWithTextGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: 50%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #4a90e2;

}

.cardWithTextGalleryContainer {
    position: relative;
    cursor: pointer;
    border: 2px solid #4a90e2;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: border-color 0.2s;
}

.cardWithTextGalleryContainer:hover {
    border-color: #4a90e2;
}

.cardWithTextGalleryImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 400px) {
    .cardWithTextGallery {
        grid-template-columns: 1fr;
    }
}