/**
 * Map Generator Fantasy Fonts
 * 
 * These fonts are used for map labels in the Map Generator feature.
 * All fonts are from Google Fonts with OFL license.
 * 
 * Using Google Fonts CDN for easy loading.
 */

/* Import all fantasy fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=IM+Fell+English&family=MedievalSharp&family=Pirata+One&family=Uncial+Antiqua&display=swap');

/* 
 * Font families available:
 * - 'MedievalSharp' - Gothic/medieval style
 * - 'Pirata One' - Pirate/nautical style
 * - 'Uncial Antiqua' - Ancient/Celtic style
 * - 'Cinzel' - Roman/classical style
 * - 'IM Fell English' - Old English/Shakespearean style
 */
