nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* Spread items across the width */
    align-items: center;
    /* Align items at the bottom of the navbar */
    padding: 10px 20px;
    background-color: #010101;
    /* Replace with your navbar color */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    /* Remove any default margin on the list */
    padding: 0;
    /* Remove any default padding on the list */
    align-items: center;
    /* Center the navigation links */
}

nav ul li {
    margin-left: 20px;
    /* Space between the nav items */
}

/* General style for nav items */
nav ul li a {
    text-decoration: none;
    color: #fff;
    /* Text color */
    font-weight: 500;
    padding: 8px 16px;
    background-color: #d4b8a7;
    /* Button background color for "Login" */
    border-radius: 8px;
    /* Rounded corners for the login button */
}

/* Specific styles for the logo */
nav ul li a.logo-link {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

nav ul li a.logo-link img {
    display: block;
    height: 75px;
    width: auto;
}

/* hover effect for the nav items */
nav ul li a:hover {
    background-color: #d4b8a7;
    color: #010101;
}